html {
  width: 100vw;
  height: 100vh;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  width:100%;
  height: 100%;
  padding: 3%;
  overflow: hidden;
  background: #222 !important;
  display: flex;
	flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  color: white !important
}


.spinner-grow.spinner-grow-xs {
	width: 0.4rem;
	height: 0.4rem;
}

#init {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#init > div:first-child {
	font-size: 1.2em;
	margin-right: 10px;
	margin-bottom: 5px;
}

#init .spinner-grow {
	margin-right: 5px;
}

#init .spinner-grow:last-child {
	margin-right: 0px;
}
